body {
    background: rgb(40, 121, 43);
    font-family: "Eurostile";
    color: white;
    text-align: center;
    padding: 70px 0;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    justify-content: space-around;
}

button {
    color: ghostwhite;
    font-family: "Eurostile";
    font-size: medium;
    border-style: none;
    border-radius: 15px;
    background: rgb(196, 11, 11);
    width: 300px;
    height: 60px;
}

button:hover {
    color: ghostwhite;

    border-style: none;
    border-radius: 15px;
    background: rgb(196, 11, 11);
    width: 300px;
    height: 60px;  
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

button:active {
    background-color: rgb(196, 11, 11);
    box-shadow: 0 4px  rgb(1, 17, 1);
    transform: translateY(4px);
}